body {
    height: 2000px;
    font-family: 'Press Start 2P', cursive;
    background-image: url('../images/star-forge.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -200px;
    margin: auto;
}

.main-title {
    padding: 30px;
    text-align: center;
    font-size: 40px;
    color: yellow;
}

.title {
    padding: 15px;
    text-align: center;
    font-size: 23px;
    color: yellow;
}

.char-box {
 background-color: white;
    height: 250px;
    width: 250px;
    padding: 20px;
    margin: 10px;
    
}

.char-pic {
    background-repeat: no-repeat;
    background-size: cover;
    height: 95%;
    width: 95%;
}

#Revan {
    background-image: url('../images/darth-revan.jpg');
}

#Bastila {
    background-image: url('../images/bastila-shan.jpg');
}

#Nihilus {
    background-image: url('../images/darth-nihilus.jpg');
}

#Bane {
    background-image: url('../images/darth-bane.jpg');
}